<%- include('includes/html_top.ejs') %>
  <div id="outermost">
    <%- include('includes/header.ejs') %>
      <%- include('includes/items.ejs') %>
        <div class="more"><a href="<% path %>?p=<%= next_page_number %>">More</a></div>
        <script src="app.js"></script>
        <%- include("includes/footer.ejs") %>
