<%- include('includes/html_top.ejs') %>
  <div id="outermost">
    <%- include('includes/header.ejs') %>
          <div class="container">
            <table>
              <tbody>
                <tr>
                  <td>user:</td>
                  <td>
                    <%= user.username %>
                  </td>
                </tr>
                <tr>
                  <td>created: </td>
                  <td>
                    <%= new Date(user.timestamp).toLocaleString() %>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
    <%- include('includes/footer.ejs') %>

